{% load static %}

<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Task Manager</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  {# NOTE: Change this to CDN #}

  <!-- Bootstrap core CSS -->
  {% comment %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Caladea&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet"> 
  {% endcomment %}

  <link href="https://unpkg.com/@webpixels/css@1.2.6/dist/index.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  {% comment %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"> {% endcomment %}

</head>
<body>
  <div class="d-flex flex-column flex-lg-row h-lg-full">
    <div class="h-screen flex-grow-1 overflow-y-lg-auto">
      {% include "initial/top_nav.html" %}
      <main class="py-6 bg-surface-secondary">
        {% block content %}
        {% endblock %}
      </main>
    </div>
  </div>
    <!-- Bootstrap core JavaScript ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/c1cb195988.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/off-canvas.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/hoverable-collapse.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/template.js' %}"></script>
</body>
</html>