<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="modal_example" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content shadow-4">
        <div class="modal-body">
          <div class="text-center py-5 px-5">
            <!-- Icon -->
            <div class="icon icon-shape rounded-circle bg-opacity-30 bg-danger text-danger text-lg">
                <i class="fas fa-exclamation"></i>
            </div>
            <!-- Title -->
            <h3 class="mt-7 mb-4">Confirm Action</h3>
            <!-- Text -->
            <p class="text-sm text-muted">
              We will immediately delete this task from our database. This action can not be undone. Are you sure you want to do this?
            </p>
          </div>
        </div>
        <div class="modal-footer">
            <form id='deleteDraft' method="POST">
                {% csrf_token %}
                <button type="button" class="btn btn-sm btn-neutral" data-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-sm btn-danger">Confirm</button>
            </form>
        </div>
      </div>
    </div>
  </div>